---
layout: ""
page_title: "Uptime.com Terraform Provider"
description: |-
             Monitoring and incident management for websites, APIs and applications.
---

# Uptime.com Provider

This Terraform provider allows you to manage Uptime.com resources.

## Example Usage

{{ tffile "examples/provider/provider.tf" }}

{{ .SchemaMarkdown | trimspace }}
